<ul>
  {{#each @items as |item|}}
    <li>
      <input
        type="checkbox"
        checked={{in-set this.checkedItemsSet item}}
        oninput={{action "handleCheck" item}}>
      {{item.name}}
    </li>
  {{/each}}
</ul>
