<ul>
  {{#each @items as |item|}}
    <li>
      {{yield
        item
        (component "checkbox"
          checked=(in-set this.checkedSet item)
          handleCheck=(action "handleCheck" item))}}
    </li>
  {{/each}}
</ul>
